.cover__link {
  display: block;
  padding: 33px 16px;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100% 100%;
  color: inherit;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cover__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.cover__link:hover::after {
  opacity: 0.8;
}


@media (min-width: 414px) {
  .cover__link {
    padding: 66px 48px;
  }
}

@media (min-width: 540px) {
  .cover__link {
    padding: 99px 64px;
  }
}

@media (min-width: 768px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    padding: 245px 312px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
