.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
  padding: 0;
  margin: 0 16px 32px 16px;
}

@media (min-width: 768px) {
  .place__title {
    grid-area: title;
    margin: 0;
    font-size: 42px;
    line-height: 110%;
    max-width: 330px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 106%;
  }
}
