.places {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
}

@media (min-width: 768px) {
  .places {
    margin: 0 24px 90px 24px;
  }
}

@media (min-width: 1024px) {
  .places {
    margin: 0 48px 92px 48px;
  }
}

@media (min-width: 1280px) {
  .places {
    margin: 0 148px 92px 148px;
  }
}
