.lead {
  margin: 0;
  margin-bottom: 63px;
  padding: 0;
  font-style: normal;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }

}

@media (min-width: 1024px) {
  .lead {
    margin: 0 48px 90px 48px;
  }

}

@media (min-width: 1280px) {
  .lead {
    margin-left: 148px;
    margin-right: 148px;
  }

}
