.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  max-width: 275px;

}

@media (min-width: 540px) {
  .cover__subtitle {
    font-size: 18px;
    max-width: 360px;
  }
}


@media (min-width: 768px) {
  .cover__subtitle {
    line-height: 122%;
  }
}
