.header {
  font-family: 'Inter', serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 48px 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header {
    padding: 28px 24px 48px 24px;
  }

}

@media (min-width: 1024px) {
  .header {
    padding: 28px 48px;
  }

}
