.intro {
  font-family: 'Inter', serif;
  font-style: normal;
  padding: 0;
  margin: 0 16px 64px 16px;
}

@media (min-width: 768px) {
  .intro {
    margin: 0 24px 88px 24px;
    width: 720px;
  }
}

@media (min-width: 1024px) {
  .intro {
    margin: 0;
    margin-left: 48px;
    margin-bottom: 92px;
    width: 690px;
  }
}

@media (min-width: 1280px) {
  .intro {
    margin-left: 148px;
  }
}
