.lead__caption {
  padding: 0;
  padding-left: 16px;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: inherit;
}

@media (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (min-width: 1024px) {
  .lead__caption {
    padding: 0;
  }
}
