.footer {
  font-style: normal;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0 0 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1184px;
}

@media (min-width: 768px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-right: 48px;
    padding-left: 48px;
  }
}
